html {
    box-sizing: border-box;
}


body {
    background-color: antiquewhite;
}


.game {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.game:active  {
    transform: scale(1.2);
}